{% extends 'blank.html' %}
{% load static %}

{%block title %}Opportunities{% endblock title%}
{%block body %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4">
            <h1 class="h3 mb-0 text-gray-800">Opportunities</h1>

        </div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Opportunities</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Organization</th>
                            <th>Criteria</th>
                            <th>Remark</th>
                            <th>Apply</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for opp in opps%}
                        <tr>
                            <td>{{opp.title}}</td>
                            <td>{{opp.organization}}</td>
                            <td>{{opp.criteria}}</td>
                            <td>{{opp.remark}}</td>
                            <td>
                                <a href="{% url 'opp_apply' 'request.user.id' %}" class="btn btn-success">Apply Now</a>
                            </td>

                        </tr>
                        {% endfor %}



                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock body%}