{% extends "admin/change_list.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<style>
    /* a.import-link {
         0 1px no-repeat;
    } */

    .object-tools a.import_link {
        background-image: url("{% static 'img/download.svg' %}");
        background-repeat: no-repeat;
        background-position: right 7px center;
        padding-right: 26px;
    }

    .object-tools a.export_link {
        background-image: url("{% static 'img/upload.svg' %}");
        background-repeat: no-repeat;
        background-position: right 7px center;
        padding-right: 26px;
    }
</style>
{% endblock %}